[project]
	description = This Magento extension allows you to read the logfiles stored in /var/log directory directly in the admin backend. So you don't need terminal access to your Magento installation.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Marcel Hauri (mhauri)
[access "refs/for/refs/*"]
	read = group user/Marcel Hauri (mhauri)
	push = group user/Marcel Hauri (mhauri)
	label-Code-Review = -2..+2 group user/Marcel Hauri (mhauri)
	label-Verified = -1..+1 group user/Marcel Hauri (mhauri)
	rebase = group user/Marcel Hauri (mhauri)
	removeReviewer = group user/Marcel Hauri (mhauri)
	submit = group user/Marcel Hauri (mhauri)
[access "refs/heads/*"]
	read = group user/Marcel Hauri (mhauri)
	create = group user/Marcel Hauri (mhauri)
	push = +force group user/Marcel Hauri (mhauri)
	pushMerge = group user/Marcel Hauri (mhauri)
[access "refs/tags/*"]
	push = +force group user/Marcel Hauri (mhauri)
	pushTag = group user/Marcel Hauri (mhauri)
	pushSignedTag = group user/Marcel Hauri (mhauri)
